# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env

# Logs
logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios de IDE/editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de compilación
dist/
build/